
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

html{
    font-size: 62,5%;
}
.cajaazul{
    height: min-content;
    background-color: rgb(24, 30, 209);
}

.title1, .title2, .title3, .title4, .title5{
 }


.Logo{
    height:1rem;
    width:1rem;
}
.cajablanca {

width: 100%;
}

.tituloblanco {
    font-size: 4rem;
    text-align: center;
    padding:3rem;
    }




.cuadrado1,.cuadrado2,.cuadrado3,.cuadrado4{
    
    display:inline-block;
    width:100%;
    height:min-content;
    padding:2rem 15rem;
    
    }


.contenedorcajas{
      display:inline-block;
      width: 100%;
      
    }

   p{
    text-align:center;
    padding-top: 1rem;
    
   }



.p1{
font-weight:bolder;

}

.p2{
}

.logospequeños{
height:7rem;
width:7rem;
float:left;

}
