.caja-azul {

    border: solid black;
    background-color: blue;
    display: flex;
    flex-direction: column;
    height: min-content;
   
    
}

.title {
    color: white;
   
}
 

.parrafo1{
    
}




