.cajaazul{
  
    border: solid;
    background-color: #529cf1;
    color: white;
    display: flex;
    flex-direction: column;
   
  
    
  }
  
  .h1{
    font-size: 50px;
    
  }
  
  .escucha{
    font-size: 20px;
    display: flex;
    
  }
  
  .Logo {
    height:1rem;
    width:1rem;
}